body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-oregano: Oregano;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-17xl: 36px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkslategray: #2e2e2e;

  /* Gaps */
  --gap-280xl: 299px;
  --gap-13xl: 32px;

  /* Border radiuses */
  --br-5xs: 8px;
}
