body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-darkslategray: #2e2e2e;

  /* Gaps */
  --gap-13xl: 32px;

  /* Paddings */
  --padding-5xs: 8px;
}
